<p>User's list in the storage:</p>

<ul id="navigation">
    {% for user in users %}
        <li>{{ user.getUserName() }}. Birthday: {{ user.getUserBirthday() | date('d.m.Y') }}</li>
    {% endfor %}
</ul>