<p>User's list in the storage:</p>

<ul id="navigation">
    {% for user in users %}
        <li><a href="/user/show/?id={{user.getUserId()}}">{{ user.getUserName() }}. {{ user.getUserLastName() }}. Birthday: {{ user.getUserBirthday() | date('d.m.Y') }}</li>
    {% endfor %}
</ul>